.stoplight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  gap: 15px;
  padding: 20px;
  width: 100px;
  border-radius: 29px;
  border: 4px solid #000;
}

/* The Lights (Shared Styles) */
.light {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Makes the div a circle */
  background-color: #555; /* Default "off" color */
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}